services:
    - App\Model\ContentSectionRepository
    - App\Model\ContentRepository
    - App\Model\ParameterRepository
    - App\Model\ParameterEnumRepository
    - App\Model\SectionRepository
    - App\Model\SectionParameterRepository
    - App\Model\User
    - App\Model\JwtAuth(%jwt.key%, %jwt.algorithm%)